

/*--------------------------*/
/*---- Layout and Text  ----*/
/*--------------------------*/


body { 
	padding-top:20px;
	background-color: #383737;
}

a, a:hover, a:visited, a:active , a:focus {
	color: #007da6;
}

#logo {
	display: block;
	width: 100px;
    margin-left: 17%;
    margin-bottom: 20px;
}

.container {
    width: 70%;
}

.wellTitle {
    font-size: 2em;
}

.wellTitle .subtext{
    font-size: .5em;
    font-style: italic;
    font-weight: normal;
}

.lightText{
    font-style: italic;
    font-size: .9em;
}



/*--------------------------*/
/*---- Part Icon Links  ----*/
/*--------------------------*/


.imageIcon {
    width: 20px;
    border: 1px solid #dfd7ca;
}

.imageIcon:hover {
    border-color: #007da6;
}

.imageLink, .imageLink:hover, .imageLink:visited, .imageLink:focus {
    text-decoration: none;
}



/*----------------------------*/
/*---- Buttons and Forms  ----*/
/*----------------------------*/


select, input {
    margin-bottom: 10px;
    margin-right: 10px;
}

#partFilter{
	margin-right: 0px;
}

#createButton {
    float: right;
}

#partsList input {
    margin-bottom: 0px;
}

#bomDescriptionInput{
    width: 60%;
}

.quantityInput {
    width: 40px;
}

#partTypeSelect {
    max-width: 120px;
}

#partSelect {
    width: 240px;
}



/*--------------------------------*/
/*---- Table Scroll and Sort  ----*/
/*--------------------------------*/


table.scroll{
	overflow-y: scroll;
}

table.scroll tbody{
    max-height: 225px;
}

table {
	color: black;
	background-color: white;
}

.sortLink {
    cursor: pointer;
}

.sortLink:hover {
    text-decoration: underline;
}

/* bootswatch overrides */

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #fcf8e3;
 }
 
.table-striped>tbody>tr:nth-child(odd):hover>td, 
.table-striped>tbody>tr:nth-child(odd):hover>th {
   background-color: #faf2cc;
 }





